<div class="content">
    <div class="title">
        <h1>Category</h1>
    </div>
    <button 
        class="mat-elevation-z8" 
        mat-stroked-button 
        (click)="navigateToCategoryCreate()"
        color="primary"
    > 
        Add category
    </button>
    <div class="mat-elevation-z8">
        <table mat-table class="table" [dataSource]="categories">
        
            <!-- Id Column -->
            <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>
        
            <!-- Description Column -->
            <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let row"> {{row.description}} </td>
            </ng-container>

            <!-- Books Column -->
            <ng-container matColumnDef="books">
                <th mat-header-cell *matHeaderCellDef> Books </th>
                <td mat-cell *matCellDef="let row">
                    <a class="books" href="#">
                        <i class="material-icons">book</i>
                    </a>
                </td>
                </ng-container>
        
            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th class="mat-header-actions" mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let row">
                    <a class="edit" routerLink="update/{{ row.id }}">
                        <i class="material-icons">edit</i>
                    </a>
                    <a class="delete" routerLink="delete/{{ row.id }}">
                        <i class="material-icons">delete</i>
                    </a>
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>